<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>PELIS_PLANET</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/assets/css/templatemo-edu-meeting.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.css}">
    <link rel="stylesheet" th:href="@{/assets/css/lightbox.css}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
        
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a th:href="@{/vistas/Home1}" class="logo">
                          PELIS_PLANET
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a th:href="@{/vistas/Home1}">Inicio</a></li>
                                  <li><a href="#">Catalogo</a></li>
                                  <li><a th:href="@{/Bajo}">Cerrar Sesion</a></li>
                          </li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->


  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Sección de Peliculas</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Categorias</h4>
            <ul>
              <li><li class="fa fa-bomb"></li><a th:href="@{/vistas/Accion}"> Acción</a></li><br>
              <li><li class="fa fa-gamepad"></li><a href="#"> Animación</a></li><br>
              <li><li class="fa fa-ship"></li><a href="#"> Aventura</a></li><br>
              <li><li class="fa fa-heart"></li><a href="#"> Drama</a></li><br>
              <li><li class="fa fa-paw"></li><a href="#"> Comedia</a></li><br>
              <li><li class="fa fa-space-shuttle"></li><a href="#"> Ciencia Ficción</a></li><br>
              <li><li class="fa fa-image"></li><a href="#"> Historia</a></li><br>
              <li><li class="fa fa-eye"></li><a href="#"> Suspenso</a></li><br>
              <li><li class="fa fa-bug"></li><a href="#"> Terror</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$30.00</span>
                  </div>
                  <a th:href="@{/vistas/Reserva}"><img src="/assets/images/antman.jpg" alt="New Lecturer Meeting"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>10</span></h6>
                  </div>
                  <a th:href="@{/vistas/Reserva}"><h4>Ant-Man Quantumania</h4></a>
                  <p>La segunda secuela de ANT-MAN<br>Adquierela ahora mismo!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$30.00</span>
                  </div>
                  <a th:href="@{/vistas/Reserva}"><img src="/assets/images/avatar2.jpg" alt="Online Teaching"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>24</span></h6>
                  </div>
                  <a th:href="@{/vistas/Reserva}"><h4>Avatar 2</h4></a>
                  <p>Un mundo completamente nuevo<br>Adquierela ahora mismo!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$18.00</span>
                  </div>
                  <a th:href="@{/vistas/Reserva}"><img src="/assets/images/blade.jpg" alt="Higher Education"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>26</span></h6>
                  </div>
                  <a th:href="@{/vistas/Reserva}"><h4>Blade</h4></a>
                  <p>Disfruta de esta gran Trilogía<br>Adquierela ahora mismo!</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$20.00</span>
                  </div>
                  <a th:href="@{/vistas/Reserva}"><img src="/assets/images/zombieland.jpg" alt="Student Training"></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Nov <span>30</span></h6>
                  </div>
                  <a th:href="@{/vistas/Reserva}"><h4>Zombieland</h4></a>
                  <p>Si te gusto la primera, esta te encantara.<br>Adquiera ahora mismo!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Footer -->
  <section class="contact-us" id="contact"><br><br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="footer">
      <p>Derechos Reservados. <br>Carmona Hernandez Christian Jovani, Santiago Perez Sebastian 
        <br> Copyright © 2023 Canva. 
          <!--<br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>-->
    </div>
  </section>

</body>
</html>